[submodule "examples/wifi"]
	path = examples/wifi
	url = git@lambda.cs.drexel.edu:ziria/wifi.git
[submodule "examples/wifi-sid"]
	path = examples/wifi-sid
	url = git@lambda.cs.drexel.edu:ziria/wifi.git
	branch = pepm-peval
