*.dump-*
/.cabal-sandbox
/Makefile
/TODO
/autom4te.cache
/cabal.sandbox.config
/config.log
/config.status
/configure
/dist
/include/KzcConfig.h
/include/KzcSysTools.h
/kzc
/kzc.buildinfo
/libkz/src/*.o
/libkz/src/sora/*.o
/obj/
/src/Language/Ziria/Parser/Lexer.hs
/src/Language/Ziria/Parser/Lexer.info
/src/Language/Ziria/Parser/Parser.hs
/src/Language/Ziria/Parser/Parser.info
