*.dump-*
/.cabal-sandbox
/.stack-work
/Makefile
/TODO
/autom4te.cache
/bin/BlinkDiff
/bin/kzc
/bin/kzc.prof
/cabal.sandbox.config
/config.log
/config.status
/dist
/include/KzcConfig.h
/include/KzcSysTools.h
/kyllini.buildinfo
/mk/common.mk
/libkz/src/*.o
/libkz/src/sora/*.o
/obj/
/src/Language/Ziria/Parser/Classic.hs
/src/Language/Ziria/Parser/Classic.info
/src/Language/Ziria/Parser/Kyllini.hs
/src/Language/Ziria/Parser/Kyllini.info
/src/Language/Ziria/Parser/LenientClassic.hs
/src/Language/Ziria/Parser/LenientClassic.info
/src/Language/Ziria/Parser/Lexer.hs
/src/Language/Ziria/Parser/Lexer.info
